html,
body {
	background-color: #303030;
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	font-size: 0.9em;
}

::selection {
	background: #B86E18;
	color: #FFFFFF;
}
::-moz-selection {
	background: #B86E18;
	color: #FFFFFF;
}

header {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	display: inline-block;
}

main {
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: calc(5vh + 120px);
	padding: 25px 20px;
	width: calc(80vw - 40px);
	left: 10vw;
	color: #FFFFFF;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	text-shadow: 1px 1px #000000;
}

nav {
	position: absolute;
	min-height: 100px;
	width: 80vw;
	left: 10vw;
	top: 5vh;
	background: rgb(255, 143, 0);
	background: linear-gradient(0deg, rgba(255, 143, 0) 0%, rgba(255, 171, 19) 50%, rgba(255, 143, 0) 100%);
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 1px 1px #B86E18;
}

nav div {
	display: inline-block;
	text-align: center;
	position: relative;
	cursor: pointer;
	min-width: 95px;
}

nav div:not(:last-child):after {
	content: " ";
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	width: 2px;
	background: rgb(255, 217, 133);
	background: linear-gradient(0deg, transparent 0%, rgba(255, 217, 133, 0.8) 50%, transparent 100%);
}

nav div:hover img {
	opacity: 1;
}

nav div img {
	transition: 300ms;
	height: 60px;
	margin-top: 2px;
	opacity: 0.5;
}

nav div span {
	display: inline-block;
	width: 80%;
}

footer p {
	position: fixed;
	bottom: 2px;
	margin: 0px;
	display: inline-block;
	padding: 0px;
	opacity: 0.9;
	pointer-events: none;
	font-size: 0.7em;
}

#msg_footer {
	left: 2px;
	max-width: 50%;
}

#version {
	right: 2px;
}

input,
select,
label {
	display: inline-block;
	width: calc(98% - 24px);
}

label {
	padding: 3px 5px;
	text-shadow: 1px 1px #000000;
}

fieldset legend {
	position: relative;
	top: -3px;
}

fieldset {
	text-shadow: 1px 1px #000000;
	margin-bottom: 20px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 2px;
}

button {
	box-shadow:inset 0px 1px 0px 0px #FFF6AF;
	background: linear-gradient(to bottom, #FFEC64 5%, #FFAB23 100%);
	background-color: #FFEC64;
	border-radius: 2px;
	border: 1px solid #FFAA22;
	display: inline-block;
	cursor: pointer;
	color: #333333;
	font-weight: bold;
	padding: 10px 22px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #FFEE66;
	margin: 5px;
}

button:hover {
	background:linear-gradient(to bottom, #FFAB23 5%, #FFEC64 100%);
	background-color:#FFAB23;
}

button:active {
	position:relative;
	top:1px;
}

input {
	border: none;
	padding: 6px 12px;
	border-radius: 2px;
	font-size: 0.9em;
	width: calc(98% - 48px);
}

input:focus {
	box-shadow:inset 2px 2px 2px 2px #FFF6AF, 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
}

div[class^="w"] {
	display: inline-block;
}

.w25 {
	width: 24.5%;
}

.w33 {
	width: 33%;
}

.w50 {
	width: 49.5%;
}

.w100 {
	width: 99.5%;
}